body{
  text-align:center;
  background:#111;
  color:white;
  font-family:Arial;
}

canvas{
  background:black;
  border:2px solid white;
  display:block;
  margin:auto;
}

canvas{
  background:black;
  border:2px solid white;
  display:block;
  margin:auto;
}
